# Build files
hermite_cpp.so
/docs/build/*
/build/*

# Test and output files
/test.*
/*.eps
/*.npy
data/**/*.eps
/bdata

# Cache files
**/.cache/*
/examples/.cache/*
__pycache__
__init__.pyc

# Source files created automatically
/doc/source/modules.rst
/doc/source/hermipy.rst
tags

# Coverage
/.coverage

# Misc
!*.gitkeep
Session.vim
