# Build files
hermite_cpp.so
/doc/build/*
/build/*

# Test and output files
/test*
/*.eps

# Cache files
/.cache/*
/examples/.cache/*
__pycache__

# Source files created automatically
/doc/source/modules.rst
/doc/source/hermipy.rst
tags

!*.gitkeep
Session.vim
